[submodule "code/typescript-stuff/nextjs-webxr/code/typescript-stuff/nextjs-webxr/nextjs-webxr"]
	path = code/typescript-stuff/nextjs-webxr/code/typescript-stuff/nextjs-webxr/nextjs-webxr
	url = https://github.com/holeedays/nextjs-webxr.git
